body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    color: #333;
    line-height: 1.6;
    background: #f9f9f9;
    position: relative;
  }
  
  .top-left-corner
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
    border-bottom-right-radius: 150%;
    background-color:#f3f9b2cc;
  }

  
  header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 80px;
    z-index: 999;

  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    flex-wrap:wrap;

    
  }
  
  nav a {
    text-decoration: none;
    color: #191919;
    font-weight: 400;
   font-size: 20px; 
  }
  
  nav .btn {
    background: #002b6c;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  
  .services {
    padding: 3rem 2rem;
    background: #fff;
    text-align: center;
  }
  .services h2{
    font-size:2.5rem;
    color: rgba(1, 1, 72, 0.897);
  }
  .services p{
    max-width: 800px;
    text-align: center;
    margin: 15px auto;
    font-size: 18px;

  }
  .cardd{
    position: relative;
    display: grid;
    grid-template-columns: repeat(250px,3);    
  }
  .card svg{
    float: left;
    margin-left: 0px;
    position: relative;
    z-index: 999;
  }
  .service-cards {
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  
  .card {
    background: #eef0f4;
    padding: 1rem;
    width: 250px;
    border-radius: 8px;
    
  }
  
  .card:nth-child(3) {
    background: #fbdde3;
  }
  .card p{
    font-size: 1rem;
    text-align: left;
    margin-top: 165px;
    line-height: 22px;
  }
  
  .card h3 {
    margin-bottom: 0.2rem;
    font-size: 29px;
    position:absolute;
    top:90px;
    left:10;
    color: rgba(1, 1, 72, 0.897);
  }
  
  .cardd a {
    display: inline-block;
    margin-top: 1rem;
    color: #002b6c;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
  }
  #card1{
    background-color: #c3c3c4be;
  }
  #card2{
    background-color: #f4f8c9b0;
  }
  #card3{
    background-color: rgba(246, 90, 33, 0.5);
  }
  #c1{
    background-color: #e2e2e4f9;
  }
  #c2{
    background-color:#f3f9b2fc;
  }
  #c3{
    background-color:rgba(254, 158, 124, 0.978) ;
  }
  .card-left-corner
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 175px;
    border-bottom-right-radius: 150%;
  }
  
  .quote {
    background: #f3f3f3;
    padding: 4rem 1rem;
    font-size: 25px;
  }
  .quote p{
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .quote strong{
    color: rgba(230, 230, 7, 0.824);
    font-style: italic;

  }
  .down{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .agenda {
    background: #fff;
    padding: 0rem 2rem;
    text-align: left;
  }
  .agenda h2{
    font-size: 40px;
    color: #002b6cca;
    margin-bottom: 0px;
  }
  .agenda .sub-text{
    margin-top: 2px;
    padding-top: 3px;
    font-size: 25px;
    color: rgba(245, 245, 3, 0.961);
    width: 100%;
    font-weight: bold;
  }
  .agenda p{
    padding-top: 0px;
    margin-top: 0px;
  }
 
  
  .agenda ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }
  ul strong{
    display: inline-block;
    width: 85%;
  }
  
  .agenda li {
    margin: 0.4rem 0;
  }
  .line{
    width: 100%;
    height:2px;
    background-color: black;
    margin :1rem 0;
  }
  
  .agenda .btn {
    background: #dc8c91;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background: #f0f0f0;
    padding: 2rem;
  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;

  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer h4 {
    margin-bottom: 0.5rem;
  }
  
  .bottom-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.85rem;
  }
  .hero {
    position: relative;
    width: 100%;
    height: 70vh;
    

  }
  
  .hero svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
  }
  .hero-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.5rem;
    z-index: 2;
    
  }
  .hero-text h1{
    font-size: 3rem;
    font-style: italic;
    margin: 0;

  }
  .hero-text p{
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }

  @media (max-width:1024px){
   
    .hero .hero-text h1{
      font-size: 3.5rem;
    }
    .hero .hero-text p{
      font-size: 1.5rem;
    }
    
    .agenda h2,.services h2{
      font-size:2rem;
    }
    .cardd{
      width:100%;
      max-width: 600px;
      margin-top: 10px;

    }
    
    .down svg{
      width: 100%;
      margin: 20px auto;
    }
    .service-cards{
      flex-direction:column;
      gap: 2rem;
    }
    
    
  }
  @media (max-width:768px){
    
    .logo{
      margin-left:0
    }
    
    nav ul{
      flex-direction:column;
    }
   
    .hero .hero-text h1{
      font-size: 2rem;
    }
    .hero .hero-text p{
      font-size: 0.7rem;
    }
    
    
    
    
    
    .service-cards{
      display: flex;
      flex-direction:column;
      display: block;
      margin: 20px auto;
    }
    .cardd{
      width:90%;

    }
    .card{
      width: 100%;



    }
    
    .quote p,
    .agenda .sub-text,
    .agenda ul strong{
      width:100%;

    }
    .image{
      width: 100%;
    }

    .down{
      display: flex;
      flex-direction: column;
    }
    .footer-columns{
      flex-direction:column;
      align-items:flex-start;
    }
    .agenda h2,
    .services h2
    .quote{
      font-size:1.5rem;

    }
    .quote p{
      font-size:1.1rem;
    }

  }
  